*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-color: gray;
    margin: 0 auto;
    text-align: center;

}
nav>ul>li{
    list-style: none;
    padding: 10px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
}

@media screen and (min-width:786px){
    .container{
        height: 300px;
        text-align: center;
        align-items: center;
    }
    .unordered-list{
        display: flex;
        justify-content: space-around;
        flex:1 1 0;
    }
}
