*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 12px;
}
.navigation-bar{
    display: flex;
    margin: 20px 10px 10px 10px;
    align-items: center;
}
.navigation-bar>*{
    cursor: pointer;
}
nav{
    display: flex;
}
.pin-icon>img{
    height: 50px;
    width: 50px;
}
.list{
    display: flex;
    width: 90%;
}
.red-dot{
    color: red;
    font-size: 20px;
}

ul>li{
    list-style: none;
    margin-left: 30px;
}

.list>li>a{
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    color: black;
    text-decoration: none;
    transition: all 0.15ms;
}
.list>li>:active{
    background-color: black;
    border-radius: 20px;
    color:#ffffff;
    padding: 10px;
}
input[type="search"]{
    border-radius: 150px;
    border:1px solid gray;
    color:gray;
    padding:10px;
    width: 1400px;
}

.notifications>a>img{
    height: 50px;
    width: 50px;
}
.notifications>*{
    margin-left: 20px;
}
.image-container{
    columns: 250px;
    margin: 20px;
    overflow: hidden;
}
.image-container>*{
    margin-top: 10px;
}
.image-container>div>img{
    border-radius: 20px;
    width: 236px;
}
@media  screen and(width<1000px) {
    body{
        background-color: white;
    }
    .pin-icon>img{
        width: 10px;
        height: 10px;
    }
    
}
